.main-container {
    margin: 0rem 4rem;
}

.flex-align-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PADDING STYLES */

.padding-top-max {
    padding-top: 1rem;
}

.padding-top-min {
    padding-top: 0.5rem;
}

.remove-padding {
    padding: 0rem;
}

/* MARGIN STYLES */

.margin-top-max {
    margin-top: 1rem;
}

.margin-bottom-section {
    margin-bottom: 2rem;
}

.toolbar-height {
    height: 3.125rem;
}

.toolbar-options {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media(min-width:600px) {
    .menu-icon {
        display: none;
    }
}

@media (max-width: 600px){

    .menu-icon.open {
        display: flex;
        align-items: left;
    }
    .toolbar-height{
        display: flex;
        flex-direction: column;
    }

    .toolbar-options {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }

    .toolbar-options button {
        text-align: left;
        width: 100%;
    }
}

